<ion-content [fullscreen]="true">
  <div class="flex-container">
    <img class="logo" src="./assets/logo.svg" alt="Logo: Collegium Da Vinci - uczelnia ludzi ciekawych">

    <ion-list class="login-container">

      <ion-item class="login-container__item">
        <ion-label position="floating"> <ion-icon style="position: relative; top:2px;" aria-hidden="true"
            name="mail-sharp"></ion-icon> Email:</ion-label>
        <ion-input caret-color="primary" placeholder="Wprowadź email" [(ngModel)]="emailValue"></ion-input>

      </ion-item>

      <ion-item class="login-container__item">
        <ion-label position="floating"> <ion-icon aria-hidden="true" name="lock-closed-sharp"></ion-icon>
          Hasło:</ion-label>
        <ion-input placeholder="Wprowadź hasło" [(ngModel)]="passwordValue"></ion-input>
      </ion-item>

      <ion-item class="login-container__item password-restore">
        <ion-icon aria-hidden="true" name="help-circle-sharp"></ion-icon>
        <a href="https://zaloguj.cdv.pl/reset-password"> Odzyskiwanie hasła</a>
      </ion-item>

    </ion-list>
    <div class="errors-message" *ngIf="emailValidationResult !== '' || passwordValidationResult !== ''">
      {{emailValidationResult}}
      {{passwordValidationResult}}
    </div>

    <ion-button fill=" outline" [disabled]="emailValue === '' || passwordValue === '' " (click)="login()">
      Zaloguj</ion-button>
  </div>
</ion-content>