<ion-header>
  <ion-toolbar>
    <ion-title>Edycja profilu</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Zamknij</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

  <h3>Podaj nowe dane</h3>

  <form [formGroup]="editProfileForm" (ngSubmit)="submitForm()">

    <ion-item>
      <ion-input formControlName="email" type="email" label="Nowy email" labelPlacement="floating"
        placeholder="Wprowadź nowy email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input formControlName="password" type="password" label="Nowe hasło" labelPlacement="floating"
        placeholder="Wprowadź nowe hasło"></ion-input>
    </ion-item>
    <ion-button type="submit" [disabled]="!editProfileForm.valid">Zapisz zamiany</ion-button>
  </form>

</ion-content>