.articles {
  position: fixed;
  width: 100%;
  height: 50vh;
  background-color: var(--ion-background-color, #fff);
  z-index: 100;
  .active {
    // border-bottom: 3px solid #79c3d4;
    border-bottom: 3px solid var(--ion-color-light-contrast);
  }
  .category {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 20px;
    width: 100%;
    height: 40px;
    overflow: scroll;
    white-space: nowrap;

    &__item {
      display: inline-flex;
      font-size: 1rem;
      margin: 20px 0 10px 0;
      padding: 5px;
      font-weight: 550;
      background: none;
      // border: none;
      user-select: none;

      &:first-of-type {
        margin-left: 15px;
      }

      &:last-of-type {
        margin-right: 15px;
      }
    }
  }

  &__content {
    min-width: 100%;
    height: calc(100% - 40px);
    padding: 10px 0;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    overflow: scroll;

    .card {
      display: flex;
      flex-direction: column-reverse;
      min-width: 150px;
      height: 100%;
      margin: 0 0 0 15px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 8px;
      box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);

      &:last-child {
        margin-right: 15px;
      }

      .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        // background-color: rgba($color: #000000, $alpha: 0.5);
        background-image: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.8) 10%,
          rgba(0, 0, 0, 0.1) 34%
        );
      }
    }
    .no-content-in-category {
      width: 100%;
      height: 100%;
      display: flex;
      padding: 15px;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 1.3rem;
    }
  }
  ion-card-title {
    font-size: 1.1rem;
    color: #fff;
  }
  @media (min-height: 700px) {
    height: 45vh;
  }
  @media (min-height: 850px) {
    height: 40vh;
  }
}
