<ion-content [fullscreen]="true">
  <app-articles-slider *ngIf="this.newsData"></app-articles-slider>

  <div class="news" *ngIf="this.newsData else loading">
    <div class="news__heading">
      <h1>Aktualności</h1>
    </div>
    <app-news-card *ngFor="let news of this.newsData" [element]="news"></app-news-card>
  </div>

  <ng-template #loading>
    <div class="news_loading_container">
      <p class="news_loading_message">Trwa ładowanie artykółów. Proszę czekać.</p>
      <app-loading-spiner></app-loading-spiner>
    </div>
  </ng-template>
</ion-content>