.news {
  position: absolute;
  top: 50vh;
  width: 100vw;
  padding: 0 15px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-content: center;
  z-index: 1;

  &__heading {
    width: 100%;
    padding: 0 5px;
    display: flex;
    align-items: center;
    background-color: var(--ion-background-color, #fff);
    z-index: 100;
    h1 {
      padding: 0;
      margin: 0;
      font-size: 1.5rem;
    }
  }

  @media (min-height: 700px) {
    top: 45vh;
  }
  @media (min-height: 850px) {
    top: 40vh;
  }
}
