<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="user-news" href="/home/user-news">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Aktualności</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="schedule" href="/home/schedule">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Plan zajęć</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="marks" href="/home/marks">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Oceny</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="payments" href="/home/payments">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Płatności</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>